.item-1 {
    grid-area: header;
}

.item-2 {
    grid-area: main;
}

.item-3 {
    grid-area: sidebar;
}

.item-4 {
    grid-area: footer;
}

.item {

    background-color: gray;
}


.container {
    width: 1000px;
    height: 1000px;
    display: grid;
    grid-gap: 10px 30px;


    justify-items: stretch;
    align-items: stretch;
    /*
    justify-items: start;
    align-items: end;
    */

    justify-items: stretch;
    align-items: stretch;
    
    /*
    justify-content: space-evenly;
    align-content: end;
    */

    grid-template:
        [row1-start] "header header header header"200px[row1-end]
         [row2-start] "main . . sidebar"300px [row2-end]
          [row3-start] ". footer footer footer"10rem[row3-end] 
          / 300px 200px 100px 300px;
}

/*.container {
    display: grid;
    grid-column-gap: 10px;
    grid-row-gap: 15px;
    grid-template-columns: 400px 1fr 2fr 400px;
    grid-template-rows: 200px 300px 10rem;
    grid-template-areas:
        "header header header header"
        "main . . sidebar"
        ". footer footer footer";
}*/