.container {
    grid-template-columns: [col1]200px [col2]210px [col3]220px [col4]1fr [col5]2fr 5%;
    grid-template-rows: [line1]25% [line2]200px [line3]auto repeat(2,200px,[last-line]);
}

.container-1 {
    display: grid;
}

.container-2 {
    display: inline-grid;
}

.container-3 {
    display: subgrid;
}

.item {
    width: 100px;
    height: 100px;
    margin: 5px;
}

.item-c1 {
    background-color: red;
}

.item-c2 {
    background-color: green;
}

.item-c3 {
    background-color: blue;
}